*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.text h1{
    color: #FF444A;
}
.text p{
    letter-spacing: 4px;
}
.box1{
   background-color: darkturquoise;
}
.sta img{
    height: 100vh;
    
}

.bb{
    height: 50px;
    opacity:20%;
    position: relative;
    bottom: 90px;
}
.btn{
    position: relative;
    bottom: 50px;
    
}
.main1{
   background: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url("./img/main.png") center no-repeat;
    height: 90vh;
    background-position: center;

}
.main{
    position: relative;
    bottom: 100px;
}